extends layout

block content
   div.container.full
      div.col-lg-12.col-md-12.col-xs-12
         div.row
            h2="Lype"
         div.row
            p #{room}
         div.row
            p #{username}
            
